body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff0ee;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffdeda;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

#logo {
  height: 100px;
  width: auto;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #110200;
}

#menu li {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #110200;
}

#loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login,
#password {
  /* padding: 0.5rem; */
  height: 1.4rem;
  margin-left: 0.5rem;
}

label {
  font-size: 1.3rem;
  align-items: center;
  color: #110200;
}

form {
  text-align: center;
  background: rgba(255, 222, 218, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 40px;
}

#loginButton {
  font-size: 16px;
  padding: 12px 42px;
  margin-top: 12px;
  border-radius: 5px;
  background-color: #ffc3bb;
  color: #110200;
  border: none;
}

#loginButton:hover {
  cursor: pointer;
  background-color: #be1600;
  color: #fff0ee;
}

h1 {
  text-align: center;
  margin: 60px;
  font-size: 2.5rem;
  font-weight: lighter;
  background-color: #ffc3bb;
  border-radius: 30px;
  padding: 20px;
  letter-spacing: 3px;
  color: #110200;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10rem; */
  margin-bottom: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.product img {
  margin: 0 auto; /* Center the image */
  max-height: 30rem;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product .sizes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px; /* Add some space from the image */
}

.product .sizes .size-group {
  display: flex;
}

.product .sizes .size-group:not(:last-child) {
  margin-bottom: 8px; /* Add spacing between size groups */
}

.product .sizes .size-group button {
  margin-right: 8px; /* Add spacing between the buttons */
}

.button-size {
  background-color: #ffdeda;
  color: #110200;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-size:hover {
  background-color: #ffc3bb;
  /* color: #fff0ee; */
}

.description {
  min-height: 100%;
  background-color: #ffdeda;
  border-radius: 9px;
  font-size: 1.2rem;
  width: 33%;
  letter-spacing: 2px;
}

.description ul {
  list-style: none;
}

.description li {
  margin-bottom: 1rem;
}

.price {
  font-weight: bolder;
  font-size: 1.5rem;
}

.ordering-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.ordering-list li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 1rem; */
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-color: #ffdeda;
  padding: 1rem 2rem;
  border-radius: 9px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.ordering-list li span {
  color: #be1600;
  margin-left: auto;
}

.ordering-list input {
  width: 1rem;
}
